$high-green: #38CD3E;
$accent-green: #9FBAAE;
$alpha-green: #CBDED3;
$active-green: #7a8d84;

$rating-yellow: #FFC531;

$alone-gray: #8A8A89;
$high-gray: #5A5B5D;

$main-white: #FFFFFF;

$main-black: #121417;